<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Untitled Document</title>
</head>

<body>
<p align="justify"><strong>Tellum</strong>
</p>

<p align="justify"><strong>“Giving Voice to the World"</strong>
</p>

<br>

<p align="justify"><strong>TELL NOW, REVEAL LATER!! </strong>
</p>

<br>
<br>
  ---------------------------------------------------------
<br>
<p align="justify">
  -Tellum is the BEST way to collect and share honest opinions and comments using TEXT + VOICE.
</p>
<p align="justify">  -Tell people how you REALLY feel by dropping into their boxes with unlimited text and 13 second voice!
</p>

<p align="justify">  -Create your own box to find out what your followers think about different topics and experiences.
</p>

<p align="justify">  -Allow or disallow anonymous drops when you create a box…it’s YOUR choice!
</p>


<p align="justify">  -Be entertained and informed as you listen to your followers tell it in 13 SECONDS or less!
</p>


<p align="justify">  -Wanna know who said it? Request an anonymous user to REVEAL themselves - ONLY to you, with a quick DISAPPEARING identity flash!
  </p>

<p align="justify">  -And if you drop into a box anonymously, reveal your identity only to the SPECIFIC person/people you want, when they request!
</p>

<p align="justify">  -You can also use Tellum PRIVATELY. Simply LOCK your box, and only you can view and hear what your followers have dropped inside!
</p>

<p align="justify">  -Follow your friends and other interesting people to stay up to date on their latest boxes and drops.
</p>
<p align="justify">  -Tellum is great for fun with friends, but is also a powerful and convenient tool for gathering honest opinions, comments, and feedback in a variety of settings. If you want to know what people really think, or if you want to tell how you really feel, then you need to use Tellum!
</p>
</body>
</html>




