<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>TELLUM, INC. TERMS OF SERVICE ("Terms")</title>
</head>

<body>
<p align="justify"><strong>TELLUM, INC. TERMS OF SERVICE ("Terms")</strong>
</p>
<p align="justify"><strong>Last updated: July 23, 2014</strong>
</p>
<p align="justify"><br>
  <br>
</p>
<p align="justify">Please read these Terms of Service ("Terms", "Terms of Service") carefully before using the http://www.tellumapp.com website and the Tellum mobile application (the "Service") operated by Tellum, Inc. ("us", "we", or "our").

  Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.

  By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.
</p>
<p align="justify"><br>
  <br>
</p>
<p align="justify"><strong>Purchases</strong>
</p>
<p align="justify"><br>
  <br>
</p>
<p align="justify">
  If you wish to purchase any product or service made available through the Service ("Purchase"), you may be asked to supply certain information relevant to your Purchase including, without limitation, your credit card number, the expiration date of your credit card, your billing address, and your shipping information.

  You represent and warrant that: (i) you have the legal right to use any credit card(s) or other payment method(s) in connection with any Purchase; and that (ii) the information you supply to us is true, correct and complete.

  By submitting such information, you grant us the right to provide the information to third parties for purposes of facilitating the completion of Purchases.

  We reserve the right to refuse or cancel your order at any time for certain reasons including but not limited to: product or service availability, errors in the description or price of the product or service, error in your order or other reasons.

  We reserve the right to refuse or cancel your order if fraud or an unauthorized or illegal transaction is suspected.
</p>
<p align="justify"><br>
  <br>
</p>
<p align="justify"><strong>Availability, Errors and Inaccuracies</strong>
</p>
<p align="justify"><br>
  <br>
</p>
<p align="justify">We are constantly updating our offerings of products and services on the Service. The products or services available on our Service may be mis-priced, described inaccurately, or unavailable, and we may experience delays in updating information on the Service and in our advertising on other web sites.

  We cannot and do not guarantee the accuracy or completeness of any information, including prices, product images, specifications, availability, and services. We reserve the right to change or update information and to correct errors, inaccuracies, or omissions at any time without prior notice.
</p>
<p align="justify"><br>
  <br>
</p>
<p align="justify"><strong>Content</strong>
</p>
<p align="justify"><br>
  <br>
</p>
<p align="justify">Our Service allows you to post, link, store, share and otherwise make available certain information, text, graphics, videos, or other material ("Content"). You are responsible for the Content that you post to the Service, including its legality, reliability, and appropriateness.

  By posting Content to the Service, you grant us the right and license to use, modify, publicly perform, publicly display, reproduce, and distribute such Content on and through the Service. You retain any and all of your rights to any Content you submit, post or display on or through the Service and you are responsible for protecting those rights. You agree that this license includes the right for us to make your Content available to other users of the Service, who may also use your Content subject to these Terms.

  You represent and warrant that: (i) the Content is yours (you own it) or you have the right to use it and grant us the rights and license as provided in these Terms, and (ii) the posting of your Content on or through the Service does not violate the privacy rights, publicity rights, copyrights, contract rights or any other rights of any person.

  Content transmitted by the use of the Service is entirely the responsibility of the person from whom such Content originated. You use the Service at your own risk and understand that by using the Service, you may be exposed to Content that is offensive, harmful to minors, indecent or otherwise objectionable. Tellum, Inc. does not endorse any Content and ¬expressly disclaims any and all liability in connection with any and all Content transmitted or displayed using the Service. You hereby release and discharge Tellum, Inc. and its directors, employees, partners, agents, suppliers, or affiliates from any and all claims and demands arising out of or relating to any Content.
</p>
<br>
<p align="justify"><strong>Behavior</strong>
  <br>
</p>
<p align="justify">Tellum, Inc. intends for the Service to safe for our users. By using our Service, you agree to the following:</p>
<!--<p align="justify">You  shall not:</p>-->
<p align="justify"><br>
  <br>
</p>
<ol>
  <li>
    <p align="justify"> You will not post unauthorized commercial communications (such as spam) on the Service. </p>
  </li>
  <li>
    <p align="justify"> You will not collect users' content or information, or otherwise access the Service, using automated means (such as harvesting bots, robots, spiders, or scrapers) without our prior permission. </p>
  </li>
  <li>
    <p align="justify"> You will not engage in unlawful multi-level marketing, such as a pyramid scheme, on the Service.</p>
  </li>
  <li>
    <p align="justify">You will not upload viruses or other malicious code.</p>
  </li>
  <li>
    <p align="justify"> You will not solicit login information or access an account belonging to someone else.</p>
  </li>
  <li>
    <p align="justify">You will not bully, intimidate, or harass any user.</p>
  </li>
  <li>
    <p align="justify">You will not post content that: is hate speech, threatening, profane, or pornographic; incites violence; or contains nudity or graphic or gratuitous violence. </p>
  </li>
  <li>
    <p align="justify">You will not use the Service to do anything unlawful, misleading, malicious, or discriminatory.</p>
  </li>
  <li>
    <p align="justify">You will not do anything that could disable, overburden, or impair the proper working or appearance of the Service, such as a denial of service attack or interference with page rendering or other functionality of the Service.</p>
  </li>
  <li>
    <p align="justify">You will not facilitate or encourage any violations of this Terms of Service.</p>
  </li>
  <li>
    <p align="justify">You will not facilitate or encourage any violations of this Terms of Service.</p>
  </li>
</ol>
<p align="justify"><br>
  <br>
</p>
<p align="justify"><strong>Accounts</strong>
</p>
<p align="justify"><br>
  <br>
</p>
<p align="justify">When you create an account with us, you must provide us information that is accurate, complete, and current at all times. Failure to do so constitutes a breach of the Terms, which may result in immediate termination of your account on our Service.

  You are responsible for safeguarding the password that you use to access the Service and for any activities or actions under your password, whether your password is with our Service or a third-party service.

  You agree not to disclose your password to any third party. You must notify us immediately upon becoming aware of any breach of security or unauthorized use of your account.

  You may not use as a username the name of another person or entity or that is not lawfully available for use, a name or trade mark that is subject to any rights of another person or entity other than you without appropriate authorization, or a name that is otherwise offensive, vulgar or obscene.
</p>
<p align="justify"><br>
  <br>
</p>
<p align="justify"><strong>Eligibility </strong>
</p>
<p align="justify"><br>
  <br>
</p>
<p align="justify">The license to use the Service is not valid in any jurisdiction where prohibited. The Service is intended solely for users who are thirteen (13) years of age or older, and any registration, use or access to the Service by anyone under 13 is unauthorized, unlicensed, and in violation of this Terms of Service. Tellum, Inc. may terminate your account, delete any content or information that you have posted on the Service, and/or prohibit you from using or accessing the Service (or any portion, aspect or feature of the Service) for any reason or for no reason, at any time in its sole discretion, with or without notice, including without limitation if it believes that you are under 13. If you are under 18 years of age you may use the Service only if you either are an emancipated minor, or possess legal parental or guardian consent, and are fully able and competent to enter into and abide by the provisions set forth in this Terms of Service.</p>
<p align="justify"><br>
  <br>
</p>
<p align="justify"><strong>No Access to Emergency Services</strong>
</p>
<p align="justify"><br>
  <br>
</p>
<p align="justify">The Service is not intended to support or carry emergency communications to any type of hospitals, law enforcement agencies, medical care unit or any other kind of services that connect a user to emergency services personnel or public safety answering points pursuant to applicable local and or national regulatory requirements <strong>(“Emergency Services”)</strong>. There are important differences between traditional communication services and the Service. You acknowledge and agree that: (i) Tellum, Inc. is not required to offer access to Emergency Services under any applicable local and/or national rules, regulations or law; (ii) it is your responsibility to purchase, separately from the Service, traditional wireless (cellular) or fixed line telephone services that offer access to Emergency Services, and (iii) Tellum, Inc. is not a replacement for your primary telephone service.</p>
<p align="justify"><br>
  <br>
</p>
<p align="justify"><strong>Intellectual Property</strong>
</p>
<p align="justify"><br>
  <br>
</p>
<p align="justify">The Service and its original content (excluding Content provided by users), features and functionality are and will remain the exclusive property of Tellum, Inc. and its licensors. The Service is protected by copyright, trademark, and other laws of both the United States and foreign countries. Our trademarks and trade dress may not be used in connection with any product or service without the prior written consent of Tellum, Inc..

</p>
<p align="justify"><br>
  <br>
</p>
<p align="justify"><strong>Links To Other Web Sites</strong>
</p>
<p align="justify"><br>
  <br>
</p>
<p align="justify">Our Service may contain links to third-party web sites or services that are not owned or controlled by Tellum, Inc..

  Tellum, Inc. has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that Tellum, Inc. shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.

  We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or services that you visit.
</p>
<p align="justify"><br>
  <br>
</p>
<p align="justify"><strong>Termination</strong>
</p>
<p align="justify"><br>
  <br>
</p>
<p align="justify">We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.

  All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.

  We may terminate or suspend your account immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.

  Upon termination, your right to use the Service will immediately cease. If you wish to terminate your account, you may simply discontinue using the Service.

  All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.
</p>
<p align="justify"><br>
  <br>
</p>
<p align="justify"><strong>Indemnification</strong>
</p>
<p align="justify"><br>
  <br>
</p>
<p align="justify">You agree to defend, indemnify and hold harmless Tellum, Inc. and its licensee and licensors, and their employees, contractors, agents, officers and directors, from and against any and all claims, damages, obligations, losses, liabilities, costs or debt, and expenses (including but not limited to attorney's fees), resulting from or arising out of a) your use and access of the Service, by you or any person using your account and password, or b) a breach of these Terms.
  You agree to defend, indemnify and hold harmless Tellum, Inc. and its licensee and licensors, and their employees, contractors, agents, officers and directors, from and against any and all claims, damages, obligations, losses, liabilities, costs or debt, and expenses (including but not limited to attorney's fees), resulting from or arising out of a) your use and access of the Service, by you or any person using your account and password; b) a breach of these Terms, or c) Content posted on the Service.

</p>
<p align="justify"><br>
  <br>
</p>
<p align="justify"><strong>Limitation Of Liability</strong>
</p>
<p align="justify"><br>
  <br>
</p>
<p align="justify">In no event shall Tellum, Inc., nor its directors, employees, partners, agents, suppliers, or affiliates, be liable for any indirect, incidental, special, consequential or punitive damages, including without limitation, loss of profits, data, use, goodwill, or other intangible losses, resulting from (i) your access to or use of or inability to access or use the Service; (ii) any conduct or content of any third party on the Service; (iii) any content obtained from the Service; and (iv) unauthorized access, use or alteration of your transmissions or content, whether based on warranty, contract, tort (including negligence) or any other legal theory, whether or not we have been informed of the possibility of such damage, and even if a remedy set forth herein is found to have failed of its essential purpose.</p>
<p align="justify"><br>
  <br>
</p>
<p align="justify"><strong>Feedback.</strong>
</p>
<p align="justify"><br>
  <br>
</p>
<p align="justify">Any comments, suggestions, or feedback relating to the Service<strong>(“Feedback“)</strong> submitted to Tellum, Inc. shall become the property of Tellum, Inc. Tellum, Inc. will have exclusive ownership of all rights to the Feedback. Tellum, Inc. will be entitled to use the Feedback for any commercial or other purpose whatsoever, without any compensation to you or any other person. Tellum, Inc. will not be required to treat any Feedback as confidential. You agree that you do not acquire any right in or to the Services (or any changes, modifications or corrections thereto) by virtue of any Feedback. You acknowledge that you are responsible for whatever material is submitted by you, including its legality, reliability, appropriateness, originality, and copyright.</p>
<p align="justify"><br>
  <br>
</p>
<p align="justify"><strong>Disclaimer</strong>
</p>
<p align="justify"><br>
  <br>
</p>
<p align="justify">Your use of the Service is at your sole risk. The Service is provided on an "AS IS" and "AS AVAILABLE" basis. The Service is provided without warranties of any kind, whether express or implied, including, but not limited to, implied warranties of merchantability, fitness for a particular purpose, non-infringement or course of performance.

  Tellum, Inc. its subsidiaries, affiliates, and its licensors do not warrant that a) the Service will function uninterrupted, secure or available at any particular time or location; b) any errors or defects will be corrected; c) the Service is free of viruses or other harmful components; or d) the results of using the Service will meet your requirements.
</p>
<!---->
<p align="justify"><br>
  <br>
</p>
<p align="justify"><strong>Exclusions</strong>
</p>
<p align="justify"><br>
  <br>
</p>
<p align="justify">Some jurisdictions do not allow the exclusion of certain warranties or the exclusion or limitation of liability for consequential or incidental damages, so the limitations above may not apply to you.
</p>
<!---->
<p align="justify"><br>
  <br>
</p>
<p align="justify"><strong>Governing Law</strong>
</p>
<p align="justify"><br>
  <br>
</p>
<p align="justify">These Terms shall be governed and construed in accordance with the laws of Virginia, United States, without regard to its conflict of law provisions.

  Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have between us regarding the Service.

</p>
<!---->
<p align="justify"><br>
  <br>
</p>
<p align="justify"><strong>Changes</strong>
</p>
<p align="justify"><br>
  <br>
</p>
<p align="justify">We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.

  By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using the Service.

</p>
<!---->
<p align="justify"><br>
  <br>
</p>
<p align="justify"><strong>Privacy Policy</strong>
</p>
<p align="justify"><br>
  <br>
</p>
<p align="justify">You can find the latest version of Tellum’s Privacy Policy at <%=link_to "http://www.tellumapp.com/privacy-policy","http://www.tellumapp.com/privacy-policy"%>
</p>
<!---->
<p align="justify"><br>
  <br>
</p>
<p align="justify"><strong>Contact Us</strong>
</p>
<p align="justify"><br>
  <br>
</p>
<p align="justify">If you have any questions about these Terms, please contact us at privacy@tellumapp.com
</p>

</body>
</html>
<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Untitled Document</title>
</head>

<body>
</body>
</html>